extends ./index

block contenido
    if inscripciones && inscripciones.length > 0
        h1.text-2xl.font-bold.mb-4 Inscripciones de: #{inscripciones[0].estudiante.nombre} #{inscripciones[0].estudiante.apellido} - DNI:#{inscripciones[0].estudiante.dni}
        table.table-auto.w-full.mt-4
            thead
                tr
                    th.text-left.text-gray-500.uppercase.px-6.py-3 Curso
                    th.text-left.text-gray-500.uppercase.px-6.py-3 Nota
                    th.text-left.text-gray-500.uppercase.px-6.py-3 Fecha de inscripcion
                    th.text-left.text-gray-500.uppercase.px-6.py-3 Acciones
            tbody
                each inscripcion in inscripciones
                    tr
                        td.px-6.py-4= inscripcion.curso.nombre
                        td.px-6.py-4= inscripcion.nota || 'Sin calificar'
                        td.px-6.py-4= inscripcion.fecha
                        td.px-6.py-4
                            if inscripcion.nota === 0
                                a.text-blue-500(href=`/inscripciones/calificar/${inscripcion.curso_id}/${inscripcion.estudiante_id}`) Calificar
                            else 
                                a.text-blue-500(href=`/inscripciones/calificar/${inscripcion.curso_id}/${inscripcion.estudiante_id}`) Modificar nota
    else
        p(class='mt-4 text-red-600') No hay inscripciones para el estudiante seleccionado.

block scripts